  @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background: dodgerblue;
}
.info{
    background: white;
    box-shadow: 
    inset -1px -1px 10px 2px black  ;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    position: relative;
    max-width: 350px;
    z-index: 12;
}
.info::before{
    content: '';
    margin: 0;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    height: 120px;
    border-radius: 10px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background: cornflowerblue;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 1rem;
}
.image{
    width: 200px;
    height: 100px;
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 20px;
    left: 10px;
}
img{
    object-fit: cover;
    width: 100px;
    height: 100%;
    border-radius: 50%;
    transform: scale(1);
    transition: 0.3s;
    border: 3px solid goldenrod;

}
img:hover{
    cursor: pointer;
    transform: scale(1.1);

}
p{
    font-size: 14px;
}
h2{
    font-size: 18px;
}
.details{
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   position: relative;
   gap: 20px;
   width: 100%;
}
.name,
.track,
.utc,
.day{
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;

}
h2{
    color: #3aaf9f;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
}
.name::after,
.track::after,
.utc::after,
.day::after{
    content: '';
    position: absolute;
    width: 3px;
    left: -10px;
    height: 40px;
    /* right:4px; */
    background: darkgoldenrod;
}
.check{
    display: flex;
    /* margin: auto; */
    align-items: flex-start;
    justify-content: right;
    position: relative;
    margin-top: 10px;
} 
.link{
    padding: 10px 15px;
    background: #3aaf9f;
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
    transition: 0.1 s;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

 .link:hover{
    background: cornflowerblue;
    padding: 10px 20px;
}